.loginBox {
  max-width:  90%;
  width: 500px
}




.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  /* text-align: center; */
  padding: 0px;

}
/* .example-form{
  display: flex;
  flex-direction: column;
} */
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}
.example-full-width{
  padding-left: 20px;
}