<!------header------>
<header class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" class="img-responsive">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/about">About Us</a>
            </li>
            <!-- <li><a href="about.html">About Us</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/softdevp">Software Development</a>
                </li>
                <li>
                  <a routerLink="/webdesign">Web Design</a>
                </li>
                <li>
                  <a routerLink="/mobileapp">Mobile Apps</a>
                </li>
                <li>
                  <a routerLink="/softtesting">Software Testing</a>
                </li>

                <!-- <li><a href="soft-dev.html">Software Development</a></li>
       <li><a href="web-design.html">Web Design</a></li>
       <li><a href="mobile-app.html">Mobile Apps</a></li>
       <li><a href="soft- testing.html">Software Testing</a></li> -->

              </ul>
            </li>
            <li>
              <a routerLink="/softtesting">Contact Us</a>
            </li>
            <li>
              <a routerLink="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>